.register-form{
    margin-top: 1.5rem
}

.register-form button {
    border-radius: 5px;
    text-transform: none;
}

.register-methods button{
    margin-top: 1rem;
    text-transform: none;
    border-radius: 20px;
}