body{
    background-image: url('/public/bg-login.png');
    background-size: cover
}
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.card {
    border-radius: 0px;
    box-shadow: 0 5px 20px rgba(1, 1, 1, 0.2);
    padding: 20px;
    text-align: center;
    width: 30%;
    margin-top: 3vh;
    background-image: url('/public/login-form-bg.png');
  }
  @media (max-width: 1024px) {
    .card-container {
        position: absolute;
        width: 100%;
        height: 100vh;
        overflow-y: auto;
        max-height: 100vh;
    }
    .card{
        width: 100%;
        height: 100vh;
        padding-top: 50%;
    }
  }
  
  @media (max-width: 480px) {
    .card-container {
        width: 100%;
        height: 100vh;
        overflow-y: hidden;
    }
    .card{
        position: fixed;
        width: 100%;
        padding-bottom: 50vh;
    }
}
.login-form{
    margin-top: 1.5rem
}
.other{
    margin-top: 1rem;
}

.login-methods button{
    margin-right: 10px;
    margin-top: 2rem;
    text-transform: none;
    border-radius: 20px;
}
.forgot-password{
    margin-left: 6.5rem;
    margin-top: 1rem;
}
.forgot-password:hover{
    color: red;
    cursor: pointer;
}
.login-form button {
    border-radius: 5px;
    text-transform: none;
}

.logo {
    height: 15vh;
}
button.login-text{
    margin-right: -8px;
}